<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Loginservlet</servlet-name>
    <servlet-class>servlet.Loginservlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Registerservlet</servlet-name>
    <servlet-class>servlet.Registerservlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SearchInfoservlet</servlet-name>
    <servlet-class>servlet.SearchInfoservlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SeaarchWorkservlet</servlet-name>
    <servlet-class>servlet.SeaarchWorkservlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateWorkservlet</servlet-name>
    <servlet-class>servlet.UpdateWorkservlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SearchAllservlet</servlet-name>
    <servlet-class>servlet.SearchAllservlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Countservlet</servlet-name>
    <servlet-class>servlet.Countservlet</servlet-class>
  </servlet>




  <servlet-mapping>
    <servlet-name>Loginservlet</servlet-name>
    <url-pattern>/servlet/Loginservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Registerservlet</servlet-name>
    <url-pattern>/servlet/Registerservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchInfoservlet</servlet-name>
    <url-pattern>/servlet/SearchInfoservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SeaarchWorkservlet</servlet-name>
    <url-pattern>/servlet/SeaarchWorkservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateWorkservlet</servlet-name>
    <url-pattern>/servlet/UpdateWorkservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchAllservlet</servlet-name>
    <url-pattern>/servlet/SearchAllservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Countservlet</servlet-name>
    <url-pattern>/servlet/Countservlet</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
</web-app>
